parameters:
    level: max
    checkMissingIterableValueType: false
    paths:
        - .
    bootstrapFiles:
        - phar://PharBuilder/PocketMine-MP.phar/vendor/autoload.php
    scanDirectories:
        - vendor/nethergamesmc/ngessentials
        - phar://PharBuilder/PocketMine-MP.phar
    excludePaths:
        analyse:
            - bin
            - PharBuilder
            - vendor