name: PHPStan CI

on: push

jobs:
  phpstan:
    name: PHPStan Analysis
    runs-on: self-hosted
    if: "!contains(github.event.head_commit.message, '[ci skip]')"

    steps:
      - uses: actions/checkout@v2.3.4
      - name: Download PHP Release
        uses: dsaltares/fetch-gh-release-asset@0.06
        with:
          file: PHP_Linux.tar.gz
          repo: NetherGamesMC/php-build-scripts
          version: "tags/8.0.3"
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Untar PHP Release
        run: tar -xzvf PHP_Linux.tar.gz
      - name: Download Composer
        run: curl -o composer.phar "https://getcomposer.org/composer-stable.phar"
      - name: Checkout NGEssentials
        uses: actions/checkout@v2.3.4
        with:
          repository: NetherGamesMC/NGEssentials
          token: ${{ secrets.ng_token }}
          submodules: true
          path: NGEssentials
      - name: Checkout PharBuilder
        uses: actions/checkout@v2.3.4
        with:
          repository: NetherGamesMC/PharBuilder
          token: ${{ secrets.ng_token }}
          path: PharBuilder
      - name: Install Composer dependencies
        run: ./bin/php7/bin/php composer.phar install --prefer-dist --no-interaction
      - name: Run PHPStan
        run: ./bin/php7/bin/php vendor/bin/phpstan.phar analyze --no-progress
